<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Matrix1" value="C:\Users\Natallia_Sheibak@epam.com\Tracing\m1.txt"/>
    <add key="Matrix2" value="C:\Users\Natallia_Sheibak@epam.com\Tracing\m2.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>